{% extends "layout.html" %}

{% block content %}
	<div class="content-section">
	<p class="list-group-item list-group-item-light block">The following project uses PLANT VILLAGE DATASET which is a standard data repository of images of leaves of plants having different diseases.
	We have used this dataset to train our deep learning models with the help of Transfer Learning. Our models have achieved very high test accuracies of more than 99%.

	Here is a sample of the dataset!!.
	</p>
	
	<img src="/static/datasetPreview.png" width="100%">
	</div>
{% endblock content %}
